body {
    border: 2px solid black;
    padding: 10px;
  }
  .arrow-button.previous-button {
  position: absolute;
  left: 3%;
  top: 42%;
  transform: translateX(-50%);
  color:#780d0d;
  font-size: 190px;  
  border: none;
  background-color:  rgb(36, 35, 35);;
  /* padding: 10px 20px; */
  cursor: pointer;
}
.arrow-button.next-button {
  position: absolute;
  right: 1%;
  top: 42%;
  transform: translateX(-50%);
  color:#780d0d;
  font-size: 190px;  
  border: none;
  background-color:  rgb(36, 35, 35);
  /* padding: 10px 20px; */
  cursor: pointer;
}
#yearButton{
  background-color: #780d0d;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  color: aliceblue;
}
#loss_recovery_button{
  background-color: #780d0d;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  color: aliceblue;
  margin-left: 2%;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li:first-child {
  margin-right: auto;
}


nav li {
  margin-left: 20px;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
}
